<div class="container">
  <h2>Post Inattivi</h2>
  <div class="row">
    <div class="col" *ngFor="let post of inactivePosts">
      <div class="card">
        <img src="{{ post.img }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ post.title | upper }}</h5>
          <p class="card-text">
            {{ post.content }}
            <br />
            {{ post.type }}
            <br />
            <b appHighlight>{{ post.author }}</b>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
